---
# recommended to change the base_url to a local mirror
base_url: https://releases.rancher.com/harvester
clusters:
  - name: harv-foo
    version: v1.1.1
    vip: 192.168.5.60
    nodes:
      - hostname: harv-foo
        mode: create
        ip: 192.168.5.61
        mac: "xx:xx:xx:xx:xx:xx"
        nic: eth0
        device: /dev/sda
  - name: harv-bar
    version: master
    vip: 192.168.5.62
    nodes:
      - hostname: harv-bar
        mode: create
        ip: 192.168.5.63
        mac: "xx:xx:xx:xx:xx:xx"
        nic: eth0
        device: /dev/sda
os:
  token: token
  password: p@ssword
  gateway: 192.168.5.1
  subnet_mask: 255.255.255.0
  ntp_servers:
    - ntp.aliyun.com
  dns_nameservers:
    - 192.168.5.1
    - 8.8.8.8
